body {

    .contenedor2 {
      display: flex; 
      align-items: center; 
      
    }
    
    .texto-alineado2 {
      display: flex; 
      flex-direction: column;
      text-align: left; 
  }
  /* Cambios de estilo en la las caracteristicas principales del perro */
  .texto-azul {
    color: blue;
  }
  .font-weight {
    font-weight: bold;
  }
  /* Cambios de estilo en la las las caracteristicas iniciales */
  .nombre {
    color: blue;
    font-weight: bold;
  }
  
  .nombre-científico {
    color: blue;
    font-weight: bold;
  }
  .clase {
    color: blue;
    font-weight: bold;
  }
  
  .vida-media {
    color: blue;
    font-weight: bold;
  }
  .tamaño{
    color: blue;
    font-weight: bold;
  }
  
  .peso {
    color: blue;
    font-weight: bold;
  }
  
  /* Cambios de estilo en la descripcion */
  .color-desc {
    color: blue;
  }
  .negrita{
    font-weight: bold
  }
 
  /* Cambios de estilo en la fuente */
  .color-fuente {
    color: blue;
  }
  .negrita-fuente{
    font-weight: bold
  }
  .imagen {
    width: 600px; /* Imagen más grande */
    height: auto;
    border-radius: 10px;
    margin-left: 30px; /* Espacio entre texto e imagen */
  }
      .contenedor {
          display: flex; 
          align-items: center; 
        }
        .imagen-alineada {
          max-width: 200px; 
          margin-right: 20px; 
      }
      .texto-alineado {
          display: flex; 
          flex-direction: column; 
      }
      
        .rounded float-start {
          max-width: 200px;
          margin-right: 20px;
      }
  
      
      }
  
  
  
  
  